@font-face {
  font-family: 'Akrobat';
  src: url('fonts/AkrobatFont/Akrobat-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

$color-primary: #28838C;
$color-accent: #F7A420;
$color-nav-bg: #19646B;

$color-header: #FFFFFF;
$color-nav: #FFFFFF7A;
$color-nav-hover: #FFFFFF;
$color-text: #333333;
$color-bg-light: #F9F9F9;

$nav-width: 1400px;
$nav-height: 64px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Calibri', sans-serif;
  color: $color-text;
  line-height: 1.5;
}

.container {
  //max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  min-height: 200px;
  padding: 30px 0;
  height: 320px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(25, 100, 107, 0.64), rgba(25, 100, 107, 0.64)),
  url('images/header-background.jpg');
  background-size: cover;
  color: $color-header;

  .header-logo{

  }
}

.header-container{
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  &__logo-slogan{
    display: flex;
    align-items: center;
    gap: 32px;

    svg{
      //max-height: 192px;
      //ВОЗМОЖНО ПРИГОДИТСЯ ДЛЯ АДАПТИВА
    }

    .slogan{
      font-family: 'Akrobat';
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__contacts{
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  &__contacts__info {
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    column-gap: 12px;
    row-gap: 16px;
    color: $color-header;

    h6 {
      grid-column: 1 / -1;
      font-family: Calibri;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
    }

    a {
      text-decoration: none;
      color: $color-header;
    }

    .contact-phone {
      font-family: Akrobat;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      white-space: nowrap;
    }

    .contact-whatsapp {
      font-family: Akrobat;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }


    svg {
    }
  }
}

.nav {
  max-width: $nav-width;
  background-color: $color-nav-bg;
  margin: 40px auto 80px auto;
  border-radius: 50px;
}

.nav-container {
  margin: 0 auto;
  padding: 0 15px;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list{
    list-style: none;
    display: flex;
    height: 100%;
  }
}

.list-item {
  //height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: $nav-height;
    width: 1px;
    background-color: #FFFFFF52;
  }

  &:last-child::after {
    display: none;
  }
}

.item-link {
  color: $color-nav;
  font-family: Akrobat;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 50px;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover, &.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: $color-nav-hover;
  }
}

.nav-btn {
  font-family: Akrobat;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 12px 25px;
  white-space: nowrap;
}








.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;

  &--orange {
    background-color: $color-accent;
    color: #fff;
  }

  &--blue {
    background-color: #2D9CDB;
    color: #fff;
  }
}
